body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: auto;
    padding: 20px;
}

header{
    width: 60%;
    margin: 0 auto;
}

h1 {
    color: rgb(71, 20, 200);
}

main{
    width: 60%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    background-color: #f2dd76;
    border-radius: 4px;
    margin-bottom: 8px;
}
li input[type="checkbox"] {
    margin-right: 10px;
}

footer{
    width: 60%;
    margin: 0 auto;
    background-color: #c1c0ba;
    height: 80px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}